@font-face {
  font-family: 'Pacifico Regular';
  src: url('../fonts/Pacifico.eot') format('eot'),
    url('../fonts/Pacifico.woff') format('woff'),
    url('../fonts/Pacifico.ttf') format('truetype'),
    url('../fonts/Pacifico.svg#Pacifico-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/Helvetica-Neue-2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
